.header {
    justify-content: center;
    text-align:center;
}
ol li {
    list-style-position: inside;
}
.exam {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px black;
}
#table {
    line-height:200%
}
footer {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left:  30px;
    background: #444;
    color: white;
}
a.foo:hover {
  text-decoration-color: black;
  color: black;
}
a.foo {
  text-decoration-color: white;
  color: white;
}

.test{
    margin-left: 25%;
}


.colorA{
    color: rgb(255, 0, 200);
}
.colorA:hover{
    color:rgb(255, 0, 68);
    cursor: pointer;
}
.colorB{
    color: blueviolet;
}
.colorB:hover{
    color:rgb(0, 255, 255);
    cursor: pointer;
}
.fade:hover{
    cursor: pointer;
    opacity: 10%;

}